
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

section {
    background-color: #ffffff;
    
}

.hero {
    background-color: #1c1d25;
    color: white;
    font-size: 1.2rem;
    line-height:1.2 ;
    height: 100vh;
}
.hero-text>p{
    margin: 0 0.5rem;
    
}

footer {
    background-color: black;
    color:white;
    text-align: center;
    padding:5em
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;
    margin: 1rem 0;
    margin-bottom: 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top:0;
    font-size: 1.1rem;
    font-weight: 500;
}

li {
    margin: 0.5em 0;
    text-align: center;
    width: 100px;
    justify-content: space-around;
}

h1 {
    
    font-size: 2.5rem;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 1.3;
    margin: 0 0.5rem;
    
}

h2 {
    font-size: 2.5em;
    margin: 0;
}
h3{
    margin:0;
    padding-bottom: 0.3em;
}

.hero-area {
    display: flex;
    flex-direction:column;
    
}
.subtext{
    font-size: 1rem;
    font-weight: 300;
    margin:0 1rem;
}

.hero-text {
    margin-top: 20rem;
}

.button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: coral;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 7px;
    margin: 0.4rem 0.5rem
}

.information {
    padding: 1em;
    max-width: 90%;
    overflow: auto;
    font-weight: 300;
    font-size:0.75rem;
}
.information>p{
    margin-top: 0 1rem;
    
}

.sub-section {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-section-alternative{
  display: flex;
  flex-direction: column;
  text-align: center;  
  padding: 1rem;
}
.sub-section-alternative>h2{
    margin: 1rem 0;
}

.headshot {
    margin-top:3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width:60vw;
    border-radius: 50%;
    border: 4px solid coral;

}

.headshot-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    
    justify-content: space-around;
}
.project-card{
    width:70vw;
    height:70vh;
    margin:3vw;
    
    box-shadow: 5px 5px 20px rgb(197,195,195)
}

.project-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
}
.project-image{
    width:200px;
}
.project-image2{
    margin-top: 0.5em;
    width: 150px;
}
.project-image3{
    margin-top: 2em;
    width: 200px;
}
.project-image4{
    margin-top: 1.5em;
    width: 130px;
}
hr{ 
    width: 80%; 
    }
.project-link{
    text-decoration:none;
    color: #ef744b;
}
a{
    text-decoration: none;
    color: white;
}
.a-project{
    color: black;
}
.contact{
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 0;
}
.footer-line{
    width:80%;
    margin-top: 0;
}
.p-footer{
    margin:0;
}

@media screen and (min-width: 801px) {
    .hero {
        font-size: 2.1rem;
    }

    footer>p {
        margin:0;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        height: 90px;
        margin-left: 1.8rem;
    }

    ul {
        display:flex;
        font-size: 1.3rem;
        margin-right: 1.5em;
    }
    li {
        margin: 0.5em 0;
        text-align: center;
        width: 180px;
        justify-content: space-around;
    }
    

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 4em;
        font-weight: 700;
    }

    .hero-area {
        flex-direction: row;
    }

    .hero-text {
        margin-left: 5rem;
        margin-top: 20rem;
    }

    .button {
        width: 120px;
        height: 34px;
        font-size: 17px;
        padding-top: 10px;
    }

    .information {
        max-height: 85vh;
        width: 90vh;
    }
    .information>p{
        font-size: 1rem;
    }
    .subtext{
        font-size: 1rem;
        font-weight: 300;
        margin:0 1rem;
        overflow: auto;
        word-wrap: break-word;
    }
 

    .sub-section {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 10em;
    }
    .sub-section-alternative{
        display: flex;
        flex-direction: column;
        text-align: center;  
        margin-top: 10em;
    }      

    .headshot {
        max-width: 400px;
        max-height: 400px;
     
    }

    .headshot-container {
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
    }
    .project-card{
        width:20vw;
        height:60vh;
        margin:1vw;
    }
    .project-container{
        display: flex;
        justify-content: space-around;
        flex-direction:row; 
        align-items: center;
        padding-bottom: 12em;
 
    }
    .project-image{
        
        
        width: 50%;
        height: 192;
    }
    .project-image2{
        
        width: 50%;
        height: 192px;
    }
    .project-image3{
        margin-top: 2.5em;
        
        width: 50%;
        height: auto;
    }
    .project-image4{
        margin-top: 2.5em;
        width: 50%;
        height: 200px;
    }.footer-line{
        width:20%;
    }
    
}